:root {
    /*Colors*/

    --background-color: #f1ecdf;
    --card-primary-color: #e8c8ab;
    --card-secondary-color: #DACDDFFF;
    --action-primary-color: #d6995b;
    --action-primary-text-color: #000;
    --shadow-primary-color: #000000;
    --text-primary-color: #000000;
    --error-color: #f84040;
    --warning-color: #ead14d;

    /*Sizing*/
    --content-width: 1300px;
    --header-height: 60px;

}