:root {
    /*Colors*/

    --main: #2c2837;
    --main-light: #45415c;
    --main-dark: #251823;
    --color-border: #45415c;
    --color-text: #D4CDD8FF;
    --color-text-highlight: #f7d336;

    /*Sizing*/
    --content-width: 1300px;
    --header-height: 60px;

}